---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="About Me?"
  pubDate={new Date("May 02 2023")}
  updatedDate={new Date("May 02 2023")}
  heroImage="/placeholder-about.jpg"
>
  <p>
    Hey there, I'm <strong>Hrushal Nikhare</strong>, a programmer from India who's
    passionate about coding, football, and helping people achieve their goals.
  </p>
  <p>
    I first discovered my love for programming when I was in high school, and
    since then, I've been hooked on creating something from nothing. There's
    something magical about turning my ideas into reality through code, and the
    fact that I can use it to help people is even more motivating.
  </p>
  <p>
    In addition to programming, I'm a big football fan. I love the thrill of the
    game and the sense of camaraderie that comes with playing as part of a team.
    It's a great way to stay active and unwind after a long day of coding.
  </p>
  <p>
    One of my core beliefs is that everyone deserves a chance to achieve their
    goals, and I'm always looking for ways to help people do just that. Whether
    it's through teaching programming skills or creating technology that makes a
    difference in people's lives, I'm committed to using my skills and knowledge
    to make the world a better place.
  </p>
  <p>
    Over the past five years, I've worked on several small projects that have
    allowed me to apply my programming skills to real-world problems. However,
    my ultimate goal is to create something that has a greater impact and helps
    people on a larger scale. If you're interested in collaborating on a project
    or just want to connect and chat, feel free to <a href="mailto:hrushalnikhare@duck.com"
      >reach out</a
    >. I'm always excited to meet like-minded people and explore new
    opportunities.
  </p>
</Layout>
