---
import Layout from "../components/Layout.astro";
import Card from "../components/Card.astro";
---
<style>
	.Pos{
		padding: 1rem;
	}
</style>
<Layout>
<hgroup>
	<h1>Hello There!</h1>
	<p>Namaste and welcome to my website! I'm a programmer based in India, and if coding were a sport, I'd probably be a footballer. But since I'm not that good with my feet, I stick to writing code instead. When I'm not busy trying to debug my code, you can usually find me on the football field, trying to debug my footwork. As a programmer, I believe that humor is the best debugging tool, and I bring that same lighthearted approach to everything I do. Whether you're looking for help with a coding project or just want to chat about the latest football match, I'm always here to connect with like-minded people who appreciate a good laugh. So grab a cup of coffee and let's see if we can debug the world together!</p>
	<!-- <p class="Pos">
		<b>Leader of <a href="https://hacktks.hackclub.com/">HackClub Pune</a>:</b> a community of young programmers who are passionate about coding and building cool stuff.
	</p> -->
</hgroup>
<br>
<h2>Some Of My Projects:</h2>
<Card description="Stay secure in the digital world with our ethical hacking tips and tools." title="Ethical Hacking" image="/ethical-hacking.png"></Card>
<Card description="Yes" title="Test" image="https://picsum.photos/id/287/500/300"></Card>
</Layout>