---
export interface Props {
  title: string;
  description: string;
  image?: string;
  link : string;
}
const { title, description, image , link } = Astro.props;
---

<style>
  /* make the image cover everything regardless of ratio */
  figure {
    image-rendering: optimizeSpeed;
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: 0.4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    /* font-size: 2.3rem; */
    font-weight: bold;
    color: #000000;
    padding: 0.75rem;
    padding-bottom: 15%;
    background: var(--c, #0009);
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
  }
  figure:hover figcaption {
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  figure figcaption {
   -webkit-mask: none;
  }
  h1,h2,h3,h4,h5,h6,a{
      color: white;
  }
  /* make the image fill the entire thing */
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
  }
</style>
<figure>
  <img src={image} />
  <figcaption><h1>{title}</h1><h4>{description}</h4>
    <a href={link}>Visit It!</a>
  </figcaption>
</figure>
